* {
  margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1{
  font-size: 1.5rem;
}

@media (min-width: 360px) {
  .card {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }

  .divList{
    margin: 0;
  }

  .principal {
    font-size: 6rem;
  }

  .infos {
    font-size: 1.5rem;
  }
}

